* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.jpg);
  background-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  padding: 15px;
  width: 30vw;
  
  margin: auto;
  color:ghostwhite
}

.box {
  padding: 10px;
  margin: 150px 10px 50px 150px;
  box-shadow: 2px 2px 2px 2px #e440b2a9;
  background-color: rgba(204, 53, 191, 0.671);
  border-radius: 0.5em;
  width: 30vw;
  height: 10vw;
  opacity: 1.7;
  display: inline-block;
}


.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgba(250, 9, 158, 0.61);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}


/*Footer*/
.footer {
  color: snow;
  text-align: center;
  padding: 98px ;
}


a {
  color: rgb(233, 241, 233);
  text-decoration: none;
}